/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/

.rtable {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  
  overflow-x: auto;
  
  // optional - looks better for small cell values
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
}

.rtable,
.rtable--flip tbody {
  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;
  
  // scrolling shadows
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
              radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
/*      text-align: center;*/
}


// change these gradients from white to your background colour if it differs
// gradient on the first cells to hide the left shadow
.rtable td:first-child,
.rtable--flip tbody tr:first-child {
  background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}



// gradient on the last cells to hide the right shadow
.rtable td:last-child,
.rtable--flip tbody tr:last-child {
  background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}


.rtable th {
  font-size: 11px;
  text-transform: uppercase;
  background: #f2f0e6;
}


.rtable th,
.rtable td {
    padding: px 10px 5px 10px;
    border: 1px solid black;
}


.rtable--flip {
  display: flex;
  overflow: hidden;
  background: none;
}

.rtable--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}

.rtable--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.rtable--flip tr {
  display: flex;
  flex-direction: column;
  min-width: 50px;
  flex-shrink: 0;
}

.rtable--flip td,
.rtable--flip th {
  display: block;
}

.rtable--flip td {
  background-image: none !important;
  // border-collapse is no longer active
  border-left: 0;
}

// border-collapse is no longer active
.rtable--flip th:not(:last-child),
.rtable--flip td:not(:last-child) {
  border-bottom: 0;
}

/*!
// CodePen house keeping
*/

body {
  margin: 0;
  padding: 0px;
  color: #494b4d;
  font-size: 14px;
}

div {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 15px;
}

table {
  margin-bottom: 30px;
}

caption {
    font: 20pt italic;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    
}

code {
  background: #fffbcc;
  font-size: 12px;
}


.teuton {
    background-color: greenyellow;
}

.gaul {
    background-color: aqua;
}

.roman {
    background-color: orange;
}

.full_attack, .attack, .wheat, .date, .nickname {
    background-color: #bbbbbb;
    text-align: center;
}

.teuton, .roman, .gaul {
   text-align: center; 
    min-width: 70px;
}


.th {
    padding: 1px 10px 1px 10px;
}

.number {
    min-width: 25px;
    text-align: center;
}

.nickname {
    color: black;
    padding: 1px 10px 1px 10px;
}

.BAD {
    background-color:  #ffff00;
    text-align: center;
}

.CerbeR {
    background-color: #ffae42;
    text-align: center;
}

.VODKA {
    background-color: #ec7c26;
    text-align: center;
}

.DefDest {
    background-color: #90ee90;
    text-align: center;
}

.U {
    background-color: #ff8c69;
    text-align: center;
}

.CerbeR, .U, .DefDest, .VODKA, .BAD {
    min-width: 100px;
    font-size: 16px;
    font-weight: bold;
}

.nickname, .TURKEY, .NoLimit, .COFWAR, .NDWW {
    font-size: 15px;
    font-weight: bold;

}

.TURKEY {
    background-color: #87cefa;
    text-align: center;
    min-width: 200px;
}

.NoLimit {
    background-color: #db7093;
    text-align: center;
}

.NDWW {
    background-color: #50c878;
    text-align: center;
}

.COFWAR {
    background-color: #00bfff;
    text-align: center;
}

.unit {
    text-align: right;
    min-width: 65px;
}




.u1 {
    background: url(/img/u/1.gif) 5px center no-repeat;
}

.u2 {
    background: url(/img/u/2.gif) 5px center no-repeat;
}

.u3 {
    background: url(/img/u/3.gif) 5px center no-repeat;
}

.u4 {
    background: url(/img/u/4.gif) 5px center no-repeat;
}

.u5 {
    background: url(/img/u/5.gif) 5px center no-repeat;
}

.u6 {
    background: url(/img/u/6.gif) 5px center no-repeat;
}

.u7 {
    background: url(/img/u/7.gif) 5px center no-repeat;
}

.u8 {
    background: url(/img/u/8.gif) 5px center no-repeat;
}

.u9 {
    background: url(/img/u/9.gif) 5px center no-repeat;
}

.u10 {
    background: url(/img/u/10.gif) 5px center no-repeat;
}

.u11 {
    background: url(/img/u/11.gif) 5px center no-repeat;
}

.u12 {
    background: url(/img/u/12.gif) 5px center no-repeat;
}

.u13 {
    background: url(/img/u/13.gif) 5px center no-repeat;
}

.u14 {
    background: url(/img/u/14.gif) 5px center no-repeat;
}

.u15 {
    background: url(/img/u/15.gif) 5px center no-repeat;
}

.u16 {
    background: url(/img/u/16.gif) 5px center no-repeat;
}

.u17 {
    background: url(/img/u/17.gif) 5px center no-repeat;
}

.u18 {
    background: url(/img/u/18.gif) 5px center no-repeat;
}

.u19 {
    background: url(/img/u/19.gif) 5px center no-repeat;
}

.u20 {
    background: url(/img/u/20.gif) 5px center no-repeat;
}

.u21 {
    background: url(/img/u/21.gif) 5px center no-repeat;
}

.u22 {
    background: url(/img/u/22.gif) 5px center no-repeat;
}

.u23 {
    background: url(/img/u/23.gif) 5px center no-repeat;
}

.u24 {
    background: url(/img/u/24.gif) 5px center no-repeat;
}

.u25 {
    background: url(/img/u/25.gif) 5px center no-repeat;
}

.u26 {
    background: url(/img/u/26.gif) 5px center no-repeat;
}

.u27 {
    background: url(/img/u/27.gif) 5px center no-repeat;
}

.u28 {
    background: url(/img/u/28.gif) 5px center no-repeat;
}

.u29 {
    background: url(/img/u/29.gif) 5px center no-repeat;
}

.u30 {
    background: url(/img/u/30.gif) 5px center no-repeat;
}

.uhero {
    background: url(/img/u/hero.gif) 5px center no-repeat;
}

.full_attack, .attack, .wheat {
    font-weight: bold;
}

.date {
    padding-left: 5px;
    padding-right: 5px;
}




