html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li, footer, header, menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


footer, header, menu, nav, section, article {
    display: block;
}

#text {
    margin-right: 23em;
}

h1 {
    font-size: 2em;
    margin-top: 0.5em;
}

#header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


#header {
    background: #0baa20;
    color: #d1f1e9;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    width: 23em;
    
}

.avatar {
    border-radius: 50%;
    height: 200px;
    margin-top: 2em;
}

#header > footer {
    bottom: 0;
    padding: 2em;
    position: absolute;
    width: 100%;
}



.footer-contacts {
    width: 23em;
    font-size: 0;
}

.icon {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
}

.icon-vk {
    width: 32px;
    height: 32px;
    background-image: url("/img/contacts/vk.png");
    background-repeat: no-repeat;
}

.icon-facebook {
    width: 32px;
    height: 32px;
    background-image: url("/img/contacts/facebook.png");
    background-repeat: no-repeat;
}

.icon-git {
    width: 32px;
    height: 32px;
    background-image: url("/img/contacts/git.png");
    background-repeat: no-repeat;
}
.icon-skype {
    width: 32px;
    height: 32px;
    background-image: url("/img/contacts/skype.png");
    background-repeat: no-repeat;
}

.icon-telegram {
    width: 32px;
    height: 32px;
    background-image: url("/img/contacts/telegram.png");
    background-repeat: no-repeat;
}

.icon-mail {
    width: 32px;
    height: 32px;
    background-image: url("/img/contacts/mail.png");
    background-repeat: no-repeat;
}

div section {
    border: 0;
    border-bottom: 0.1em;
    border-style: solid;
    border-bottom-color: #6FFF1C;
}

.footer-link {
    text-align: center;
}



.head p {
    color: gray;
    font-size: 1.5em;
    text-indent: 0.5em;
}

/**/
.head a {
    text-decoration: underline;
    color: gray;
}


.head a:hover {
    color: black;
}
/**/




#main .container {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.fun-img {
    text-align: center;
    margin-top: 1em;
    margin-bottom:
}
    
.fun-img > img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

#main h2 {
    color: #4acaa8;
    font-size: 3em;
    padding-bottom: 1em;
}

.main-menu li {
    padding-top: 1em;
    padding-bottom: 1em;

}

.main-menu li a {
    text-decoration: none;
    color: white;  
}

.main-menu li:nth-child(1) {
    margin-top: 5em;   
}

.main-menu li:hover {
    background-color: chartreuse;
}

.main-menu li a:hover {
    color: black;
}



#main h3 {
    color: #4acaa8;
    font-size: 3em;
    padding-bottom: 0.5em;
}

#resume p {
    color: gray;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 1.5em;
}


.feature-icons {
	list-style: none;
    margin-top: 1em;
    column-count: 2;
}

.feature-icons li {
    margin-bottom: 2em;
    padding-right: 2em;
    padding-left: 3em;
    padding-top: 0.5em;
    height: 2em;
    color: #7d7f7d;
    text-align: center;
}


.icon-code {
    background-image: url("/img/skills/code.png");
    background-repeat: no-repeat;
}

.icon-book {
    background-image: url("/img/skills/book.png");
    background-repeat: no-repeat;
}

.icon-bug {
    background-image: url("/img/skills/findbug.png");
    background-repeat: no-repeat;
}

.icon-collectinformation {
    background-image: url("/img/skills/collectinformation.png");
    background-repeat: no-repeat;
}

.education {
	list-style: none;
}

.education a {
    text-decoration: underline;
    color: gray;
}

.education a:hover {
    color: black;
}

.education li {
    margin-bottom: 2em;
    padding-left: 3em;
    padding-top: 0.5em;
    height: 2em;
    color: #7d7f7d;
}

.icon-university {
    background-image: url("/img/education/university.png");
    background-repeat: no-repeat;
}

.icon-courses {
    background-image: url("/img/education/courses.png");
    background-repeat: no-repeat;
}

.attainment {
	list-style: none;
    margin-top: 1em;
}

.attainment li {
    margin-bottom: 2em;
    padding-right: 2em;
    padding-left: 3em;
    padding-top: 0.5em;
    height: 2em;
    color: #7d7f7d;
}

.attainment a {
    text-decoration: underline;
    color: gray;
}

.attainment a:hover {
    color: black;
}



.icon-math {
    background-image:  url("/img/achievement/math.png");
    background-repeat: no-repeat;
}

.icon-chess {
    background-image: url("/img/achievement/pawn.png");
    background-repeat: no-repeat;
}

article {
    margin-bottom: 2em;
}

.p-projects {
    color: gray;
    font-size: 1.25em;
    margin-bottom: 2em;
}

.utest {
    text-decoration: underline;
    color: gray;
}

.utest:hover {
    color: black;
}

.texttoproject {
    height: 400px;
    display: inline-block;
    margin-left: 1.4em;
    width: 50%;
    text-align: center;
}

h4 {
    color: #332f2c;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 1.5em;
}

.texttoproject p {
    color: gray;
    font-size: 1.25em;
}


.link-project-img {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: black; 
    width: 600px;
    height: 400px;  
    float: left;
}

.sq {
    background-image: url(/img/projects/Social%20Quantum.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sq:hover {
    background-image: url(/img/projects/SocialQuantum-whiteLogo.png);
    background-repeat: no-repeat;
    display: inline-block;    
}

.sq-link:link {
    text-decoration: none;
}

.sq-link:hover {
    text-decoration: underline;
    color: black;
}

.utest {
    background-image: url(/img/projects/utest.png);
    background-repeat: no-repeat;
    display: inline-block;        
}

.utest:hover {
    background-image: url(/img/projects/utestBlack.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.utest-link:link {
    text-decoration: none;
}

.utest-link:hover {
    text-decoration: underline;
    color: black;
}

.main-contact {
    display:none;
}

div section .main-contact {
    
}

@media screen and (min-width: 1680px) {

}

@media screen and (min-width: 1366px) and (max-width: 1680px) {

    .texttoproject {
        width:33%;
    }
    
}
    
@media screen and (min-width: 750px) and (max-width: 1365px) {
    .texttoproject {
        width:100%;
        height: auto;
        margin-left: 0;
    }
    
    .link-project-img {
        display: none;
    }
    
    .feature-icons {
        column-count: 1;
    }  
    
    .feature-icons li {
        text-align: left;
    }
    
    .attainment li {
    padding-bottom: 1em;
    }
    
}    

@media screen and (min-width: 750px) and (max-width: 900px) {
    
    #header {
        width: 12em;
    }
    
    #text {
        margin-right: 12em;
    }
    
    .avatar {
        height: 100px;
    }
    
    .junior-tester {
        font-size: 0.9em;
    }
}
    
@media screen and (max-width: 750px) {
    
    #header {
        display: none;
    }
    
    #text {
        margin-right: 0;
    }
    
    .avatar {
        height: 100px;
    }
    
    .junior-tester {
        font-size: 0.9em;
    }
    
    .fun-img {
        display:none;
    }
    
    .texttoproject {
        width:100%;
        height: auto;
        margin-left: 0;
    }
    
    .link-project-img {
        display: none;
    }
    
    .feature-icons {
        column-count: 1;
    }  
    
    .feature-icons li {
        text-align: left;
    }
    
    .attainment li {
    padding-bottom: 1em;
    }
    
    .container .contact-information {
        text-align: center;
    }
    
    .main-contact  {
        display: block;
    }
    
    .contact-information a:nth-child(1) {
        margin-left: 0;
    }
    
    .education li {
        margin-bottom: 3em;
    }
    
    .feature-icons li {
        margin-bottom: 3em;    
    }
    
    .attainment li {
        margin-bottom: 3em;
    }
    
}


@media screen and (max-height: 800px) {
    #header {
        display: none;
    }
        
    #text {
        right:0;
        width: 100%;
    }
    
    
    .container .contact-information {
        text-align: center;
    }
    
    .main-contact  {
        display: block;
    }
    
    .contact-information a:nth-child(1) {
        margin-left: 0;
    }
    
}
